.profile {
    .row {
        padding-top: 30px;
    }

    .brand-logo {
        padding-left: 20px;
    }

    // personal info
    .personal {
        img {
            width: 200px;
            border-radius: 50%;
            border: 2px solid #dedede;
            background: #fff;
            padding: 7px;
            box-shadow: 0 7px 10px #999;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            span {
                margin: 5px 0 10px;
            }

            strong {
                display: block;
                margin-bottom: 5px;
                font-weight: 700;
            }
        }
    }

    .hr-line {
        height: 3px;
        width: 135px;
        background: #333;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        position: relative;
    }

    .introduce {
        p {
            color: #555;
            font-weight: 300;
            margin: 0 auto
        }
        @media (max-width: 992px) {
            text-align: center;
        }
    }

    .collapsible {
        margin-top: 30px;
    }

}